#lista-admin legend,
#lista-admin #opciones-admin span,
#lista-admin #articulos-admin th.campoArticulo,
#lista-admin #articulos-admin td.campoArticulo,
#agregar-admin legend,
#agregar-admin #producto-admin td.nombreArticulo {
    font-family: proxima-nova,arial,sans-serif;
}

#lista-admin,
#agregar-admin {
    width: 80%;
    margin: 0 auto;
}

#lista-admin #opciones-admin {
    margin-bottom: 20px;
}

#lista-admin #opciones-admin span {
    margin-right: 20px;
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 3px;
}

#lista-admin #opciones-admin .normal {
    color: #ff5400;
    background-color: #ffffff;
    border: 2px solid #ff5400;
}

#lista-admin #opciones-admin .inverse {
    color: #ffffff;
    background-color: #ff5400;
    border: 2px solid #000000;
}

#lista-admin legend,
#agregar-admin legend {
    padding: 5px 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ff5400;
    background-color: #000000;
    border-radius: 3px;
}

#lista-admin #articulos-admin {
    width: 100%;
}

#agregar-admin #producto-admin {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}

#lista-admin #articulos-admin th.campoArticulo,
#lista-admin #articulos-admin td.campoArticulo,
#agregar-admin #producto-admin td.campoArticulo {
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
}

#agregar-admin #producto-admin td.campoArticulo {
    padding: 10px;
}

#agregar-admin #producto-admin td.nombreArticulo {
    font-size: 13px;
    font-weight: 700;
    color: #ff5400;
}

#lista-admin #articulos-admin th.campoArticulo {
    max-width: 65px;
    margin: 10px;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff5400;
}

#lista-admin #articulos-admin td.campoArticulo.imagen {
    border: 0;
}

#lista-admin #articulos-admin td.campoArticulo.imagen img {
    width: 75.6px;
    height: 105.16px;
}

#lista-admin #articulos-admin td.campoArticulo.boton {
    display: block;
    margin: 15px 10px 20px 10px;
    padding: 5px 15px;
    background-color: #ff5400;
    border: 1.5px solid;
    border-radius: 3px;
}

#lista-admin #articulos-admin td.campoArticulo.boton span {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
}