/*Test Only*/
body {
    height: 100%;
    background-color: #ffffff;
    background-image: url("../img/backgroud-gaming.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
}