legend, span, th, td {
    font-family: proxima-nova,arial,sans-serif;
}

a:link {
    text-decoration:none;
}

.collection {
    z-index: 3;
    border: 0 !important;
}

.nav-wrapper .center.hide-on-med-and-down li input {
    padding-left: 20px;
}